<%= form_for Wish.new, url: quest_wish_path(@quest) do |f| %>
  <!-- <p><input type="date" class="datepicker" placeholder="Start Date"></p>
  <p><input type="date" class="datepicker" placeholder="End Date"></p> -->
  <!--Submit Button-->
  <button class="btn btn-block btn-primary" type="submit" name="action">Add into wishlist!</button>
<% end %>
