

<!-- Header -->
<header class="banner">
  <span class="background"></span>
    <h1>3 Days in Japan</h1>
</header>



<!-- Other stuff -->
<main>
  <article>
    <h1>Quest Highlights</h1>

<div class="container">

<figure class="snip1401">
  <img src="/assets/sakura.jpg" alt="sample67" />
  <figcaption>
    <h3 id="ActvTitle">Sakura Blossom</h3>
    <p id="price">$150<p>
    <p>Experience the full sakura blossom with your loved ones and be mesmerised!</p>

    <p><a href="https://www.govoyagin.com/activities/japan-tokyo-enjoy-an-exciting-water-bus-ride-on-the-sumida-river-tokyo/5216">Website</a></p>
  
  </figcaption><i class="ion-ios-location-outline"><h5>Shinjuku Gyoen</h5></i>
  <a href="#"></a>
</figure>

<figure class="snip1401"><img src="/assets/tokyocruise.jpg" alt="sample87" />
  <figcaption>
    <h3 id="ActvTitle">Tokyo Bay Night Cruise</h3>
    <p id="price">$150<p>
    <p>Go on a romantic Tokyo Bay night cruise! This is the perfect way to end your day, and see the night view of Tokyo. </p>
    <p><a href="https://www.govoyagin.com/activities/japan-tokyo-enjoy-an-exciting-water-bus-ride-on-the-sumida-river-tokyo/5216">Website</a></p>
  </figcaption><i class="ion-ios-location-outline"><h5>Tokyo Bay</h5></i>
  <a href="#"></a>
</figure>

<figure class="snip1401"><img src="/assets/ginza.jpg" alt="sample87" />
  <figcaption>
    <h3 id="ActvTitle">Ginza & Tsukiji Running</h3>
    <p id="price">$150<p>
    <p>Let's run together in the center of Tokyo to see Ginza, Tsukiji and Nippon bridge!</p>
    <p><a href="https://www.govoyagin.com/activities/japan-tokyo-enjoy-an-exciting-water-bus-ride-on-the-sumida-river-tokyo/5216">Website</a></p>
  </figcaption><i class="ion-ios-location-outline"><h5>Ginza</h5></i>
  <a href="#"></a>
</figure>

<figure class="snip1401">
  <img src="/assets/hotairballon.jpeg" alt="sample67" />
  <figcaption>
    <h3 id="ActvTitle">Sunrise from Hot Air Balloon</h3>
    <p id="price">$150<p>
    <p>How about flying with us in a hot air balloon during the beautiful sunrise? Float elegantly through the sky while watching the amazing rural landscape of rice fields below!</p>
    <p><a href="https://www.govoyagin.com/activities/japan-tokyo-enjoy-an-exciting-water-bus-ride-on-the-sumida-river-tokyo/5216">Website</a></p>
  </figcaption><i class="ion-ios-location-outline"><h5>Tokyo</h5></i>

  <a href="#"></a>
</figure>
  

</div>

 
  </article>
</main>