<div class="container">
  <div class="modal-body">
    <center>
     <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
     <h3 class="media-heading"><%= @user.first_name %> <small>USA</small></h3>
     <span><strong> Traveled to </strong></span>
         <span class="label label-warning">Japan</span>
         <span class="label label-info">Korea</span>
         <span class="label label-success">Philippines</span><br>

     <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet"/>
					<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
					<div class="rating-select">
					    <div class="btn btn-default btn-sm"><span class="glyphicon glyphicon-star-empty"></span></div>
					    <div class="btn btn-default btn-sm"><span class="glyphicon glyphicon-star-empty"></span></div>
					    <div class="btn btn-default btn-sm"><span class="glyphicon glyphicon-star-empty"></span></div>
					    <div class="btn btn-default btn-sm"><span class="glyphicon glyphicon-star-empty"></span></div>
					    <div class="btn btn-default btn-sm"><span class="glyphicon glyphicon-star-empty"></span></div>
					</div>

     <h5><strong> About Me </strong></h5><p>I've been backpacking around Asia since 2010 :) </p>

     <br>
    
     </center>
     <hr>
 </div>
