<div class="container">
    <div class="row">
      <div class="row">
        <div class="col-md-12">
          <%= image_tag('nomad_deals.png', class: "center-block") %>
        </div>
      </div>
      <div class="col-md-12 text-center">
          <h2>
              LETS GET STARTED<br>
              <span class="lead">Check out these latest deals made by the community, for the community.</span>
          </h2>
      </div>

    </div>
        <div id="carousel-example" class="carousel slide hidden-xs padding-top" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner ">
                <div class="item active">
                    <div class="row">
                        <div class="col-sm-4">
                            <figure class="snip1471"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample89.jpg" alt="sample89" />
                                  <figcaption>
                                    <div>
                                      <h2>Singapore</h2>
                                    </div>
                                    <div>
                                      <h3>5 Days</h3>
                                      <div class="icons"><a><i class="ion-android-pin"></i></a><a><i class="ion-android-chat"></i></a><a><i class="ion-android-share-alt"></i></a></div>
                                    </div>
                                  </figcaption>
                                  <a href="#"></a>
                                  </figure>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-sm-4">
                                  <figure class="snip1471"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample90.jpg" alt="sample88" />
                                    <figcaption>
                                      <div>
                                        <h2>Greece</h2>
                                      </div>
                                      <div>
                                        <h3>2 Days</h3>
                                        <div class="icons"><a><i class="ion-android-pin"></i></a><a><i class="ion-android-chat"></i></a><a><i class="ion-android-share-alt"></i></a></div>
                                      </div>
                                    </figcaption>
                                    <a href="#"></a>
                                  </figure>
                                  <div class="clearfix"></div>
                        </div>
                        <div class="col-sm-4">
                                  <figure class="snip1471"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample88.jpg" alt="sample88" />
                                    <figcaption>
                                      <div>
                                        <h2>Spain</h2>
                                      </div>
                                      <div>
                                        <h3>3 Days</h3>
                                        <div class="icons"><a><i class="ion-android-pin"></i></a><a><i class="ion-android-chat"></i></a><a><i class="ion-android-share-alt"></i></a></div>
                                      </div>
                                    </figcaption>
                                    <a href="#"></a>
                                  </figure>
                                  <div class="clearfix"></div>

                        </div>
                    </div> <!-- Carousel rows -->
                </div> <!-- Active itms -->
            </div> <!-- Carousel wrapper -->
            <div class="col-xs-12 text-center">
                <!-- Controls -->
                <div class="controls hidden-xs">
                    <a class="left fa fa-chevron-left btn" href="#carousel-example"
                        data-slide="prev"></a><a class="right fa fa-chevron-right btn" href="#carousel-example"
                            data-slide="next"></a>
                </div>
            </div>
        </div>
    </div>
</div>
