<body>


<div id="hero-container" class="container-fluid">
  <div class="hero-welcome container">
    <div class="hero-main">
      For a community that loves to travel.
    </div>
  </div>
</div> <!-- hero-container -->


</body>
