<div class="container">
  <div class="row text-center">
    <div class="col-md-12">
        <h2>Our Team</h2>
        <h3 class="caption gray">Meet the people who make awesome stuffs</h3>
      </div><!-- /.col-md-12 -->

<div class="container">
  <div class="row">
    <div class="col-md-6">
    <div class="team-member">
    <figure class="snip1477">
   <img src="/assets/profile1.jpg" alt="sample38" />
  <div class="title">
    <div>
      <h2>Brian</h2>
      <h4>Witty Nomad</h4>
    </div>
  </div>
  <figcaption>
    <p>The world is a book, and those who do not travel read only a page.
</p>
  </figcaption>
  <a href="#"></a>
</figure>
</div>
</div>

<div class="col-md-6">
  <div class="team-member">
  <figure class="snip1477">
  <img src="/assets/profile2.jpg" alt="sample38" />
  <div class="title">
    <div>
      <h2>Kevin</h2>
      <h4>Techie Nomad</h4>
    </div>
  </div>
  <figcaption>
    <p>We travel, some of us forever, to seek other states, other lives, other souls.</p>
  </figcaption>
  <a href="#"></a>
</figure>


</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
    <figure class="snip1477"><img src="/assets/profile3.jpeg" alt="sample35" />
    <div class="title">
    <div>
      <h2>Khairul</h2>
      <h4>Creative Nomad</h4>
    </div>
    </div>
    <figcaption>
    <p>You know more of a road by having traveled it than by all the conjectures and descriptions in the world. </p>
    </figcaption>
    <a href="#"></a>
    </figure>
  </div>


<div class="col-md-6">
  <figure class="snip1477"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample38.jpg" alt="sample38" />
  <div class="title">
    <div>
      <h2>Vin See</h2>
      <h4>Quirky Nomad</h4>
    </div>
  </div>
  <figcaption>
    <p>I travel not to go anywhere, but to go. I travel for travel's sake. The great affair is to move. 
 </p>
  </figcaption>
  <a href="#"></a>
  </figure>
</div>

</div>
</div>
</div>



