// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wish-box {
  background:#fff;
  transition:all 0.2s ease;
  border:2px dashed #dadada;
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  background-clip: padding-box;
  padding:0 20px 20px 20px;
  min-height:340px;
}

.wish-box:hover {
  border:2px solid #525C7A;
}

.wish-box span.box-title {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
}

.wish-box .box-content {
  padding: 18px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  box-sizing: border-box;
}
.wish-box .box-content p {
  color:#515c66;
  text-transform:none;
}

.btn-wishlist-block {
    display: block;
    width: 100%;
}
.btn-wishlist-primary {
    color: #fff;
    background-color: #03A9F4;
    border-color: transparent;
    font-size: 18px;
}
