<p style="font-size: large; "> User dashboard </p>


<div class="container">
    <div class="row profile">
    <div class="col-md-3">
      <div class="profile-sidebar">

        <!-- SIDEBAR USERPIC -->
        <div class="profile-userpic">
        <img alt="Profile pic" src="/assets/Brian.jpg" class="img-responsive" alt="" />  </div>
        <!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
           Brian
          </div>
          <div class="profile-usertitle-job">
            Nomad
          </div>
        </div>
        <!-- END SIDEBAR USER TITLE -->
        <!-- SIDEBAR BUTTONS -->
        <div class="profile-userbuttons">
          <button type="button" class="btn btn-success btn-sm">Follow</button>
        </div>
        <!-- END SIDEBAR BUTTONS -->
        <!-- SIDEBAR MENU -->
        <div class="profile-usermenu">
          <ul class="nav">
            <li class="active">
            <%= link_to 'Edit profile', edit_user_path(current_user) %>
            </li>
            <li>
            <%= link_to 'Log Out', sign_out_path, method: :delete %>
            </li>
          </ul>
        </div>
        <!-- END MENU -->
      </div>
    </div>
    <div class="col-md-9">
            <div class="profile-content">
            <!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

        <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container_1">
  <h2>Payment history</h2>
  <p>View for all completed quests!</p>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Conquest</th>
        <th>Price ($)</th>
        <th>Travel Guru</th>
        <th>Start Date </th>
        <th>End Date </th>
      </tr>
    </thead>
    <tbody>
       <tr>
        <td>Love in The Air - Paris</td>
        <td>410</td>
        <td>Khairul Idzham</td>
        <td>23/3/2015</td>
        <td>02/4/2015</td>
      </tr>

       <tr>
        <td>Escape to Seoul Nature with your loved ones</td>
        <td>300</td>
        <td>Josh Teng</td>
        <td>4/5/2016</td>
        <td>10/5/2016</td>
      </tr>

      </tbody>
  </table>
</div>

</body>

<div class="container_2">
  <h2>Amount Earned</h2>
  <p>Money earned from being a travel guru</p>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Quest</th>
        <th>Wishes</th>
        <th>Purchases </th>
        <th>Monthly Earned</th>
        <th>Last Paid</th>
        <th>Pending Payment ($)</th>
        <th>Due date</th>
        <th>Total Earned($)</th>
      </tr>
    </thead>
    <tbody>
        <tr>
        <td>Travel around Kuala Lumpur</td>
        <td>1000</td>
        <td>856</td>
        <td>200</td>
        <td>30/4/2016</td>
        <td>300</td>
        <td>30/5/2016</td>
        <td>1,712</td>
      </tr>
      </tbody>

       <tbody>
        <tr>
        <td>Savor your TasteBuds</td>
        <td>800</td>
        <td>-Na-</td>
        <td>-Na-</td>
        <td>-Na-</td>
        <td>-Na-</td>
        <td>-Na-</td>
        <td>-Na-</td>
      </tr>
      </tbody>

       <tbody>
        <tr>
        <td>Savor your TasteBuds</td>
        <td>800</td>
        <td>-Na-</td>
        <td>-Na-</td>
        <td>-Na-</td>
        <td>-Na-</td>
        <td>-Na-</td>
        <td>-Na-</td>
      </tr>
      </tbody>
  </table>
</div>
</html>

</div>
<center>

</center>
<br>
<br>